# 一些配置文件和缓存目录
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle wrapper 分发文件（太大，不需要提交）
gradle/wrapper/dists/

# 我解出来的源代码，可能传不上去（因为太多了）
/system_source

# 签名文件，防止爆破掉
testmodule-keystore.jks

# VSCode 生成的bin文件
/app/bin


