# 一些配置文件和缓存目录
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/engine/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vscode

# Gradle wrapper 分发文件（太大，不需要提交）
gradle/wrapper/dists/

# 我解出来的源代码，可能传不上去（因为太多了）
/system_source

# 签名文件，防止爆破掉
testmodule-keystore.jks

# VSCode 生成的bin文件
/app/bin
/engine/bin

# 我拿来研究的log
/tmp.log
/logs
/report

# 有的时候我会让AI写一些MD
/*.md

# 但是Readme还是要提交的
!/README.MD

# 还有一些神秘的日志文件
*.log



